HYPERPARAMETER TUNING MACHINE LEARNING

This can be defined as tool used to choose the best parameters to get the HIGHEST acuracy score of a model for machine learning. it is divided into 
1. Grid search 
2. Random search (It performs better for large data though it may not give you the overall best but somewhere around the best)

Read more  https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html

It can be used for Support Vector Classfication (SVC)

In [152]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, GridSearchCV,RandomizedSearchCV
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

In [157]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [158]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [159]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [179]:
#ILOC = Integer location, The iloc() function in python is one of the functions defined in the Pandas module that helps us to select a specific row or column from the data set. Using the iloc() function in python, we can easily retrieve any particular value from a row or column using index values.
X = dataset.iloc[:,[2,3]]
Y = dataset.iloc[:,4]

In [180]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=25)

In [181]:
scalar = StandardScaler()
x_train_scaled = scalar.fit_transform(x_train)
x_test_scaled = scalar.transform(x_test)

In [182]:
clf = SVC()

In [183]:
clf.fit(x_train_scaled, y_train)

SVC()

In [184]:
y_pred = clf.predict(x_test_scaled)

In [185]:
accuracy_score(y_test, y_pred)

0.96

In [186]:
grid = {'C':[1,10,100,1000], 'kernel':['rbf','linear'],'C':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]}

In [187]:
grid_search_cv = GridSearchCV(SVC(),param_grid=grid, scoring='accuracy', n_jobs=-1)

In [188]:
grid_search_cv.fit(x_train_scaled, y_train)

GridSearchCV(estimator=SVC(), n_jobs=-1,
             param_grid={'C': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
                         'kernel': ['rbf', 'linear']},
             scoring='accuracy')

In [189]:
grid_search_cv.best_score_

0.9146666666666666

In [190]:
grid_search_cv.best_params_

{'C': 0.7, 'kernel': 'rbf'}

In [191]:
rdm_search_cv =RandomizedSearchCV(SVC(),param_distributions=grid,n_jobs=-1)

In [192]:
rdm_search_cv.fit(x_train_scaled, y_train)

RandomizedSearchCV(estimator=SVC(), n_jobs=-1,
                   param_distributions={'C': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7,
                                              0.8, 0.9],
                                        'kernel': ['rbf', 'linear']})

In [193]:
rdm_search_cv.best_score_

0.9146666666666666

In [194]:
rdm_search_cv.best_params_

{'kernel': 'rbf', 'C': 0.7}

#Scale data to get accurate data, but u must use scale data in future for same data

In [196]:
#If you are working on large dataset dont use Grid search, use random search.

HOW TO CHOOSE THE BEST MODEL FOR HYPER PARAMETER TUNING

In [1]:
#The process of choosing optimal parameter is hypertuning.

In [3]:
#This can be achived by usiing train_test_split for different models. SVM,Random Forest, Decision Tree, Naive Bayes, Logistic Regression etc.

In [ ]:
#Because of different variations in the outcomes, it is advised one use :
K Fold Cross Validation..read more here: http://localhost:8888/lab/tree/Desktop/DATA%20SCIENCE%20BOOTCAMP/Hyperparameter%20Tuning%20Machine%20Learning.ipynb