# Building a Logistic Regression

Create a logistic regression based on the bank data provided. 

The data is based on the marketing campaign efforts of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).

Note that the first column of the dataset is the index.

Source: [Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, Elsevier, 62:22-31, June 2014

## Import the relevant libraries

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
sns.set()

## Load the data

Load the ‘Example_bank_data.csv’ dataset.

In [25]:
data_init = pd.read_csv('Example_bank_data.csv')

We want to know whether the bank marketing strategy was successful, so we need to transform the outcome variable into 0s and 1s in order to perform a logistic regression.

In [26]:
data_init

     Unnamed: 0  duration    y
0             0       117   no
1             1       274  yes
2             2       167   no
3             3       686  yes
4             4       157   no
..          ...       ...  ...
513         513       204   no
514         514       806  yes
515         515       290   no
516         516       473  yes
517         517       142   no

[518 rows x 3 columns]

In [31]:
data = data_init.copy()
data['y'] = data['y'].map({'yes':1,'no':0})

In [32]:
data

     Unnamed: 0  duration  y
0             0       117  0
1             1       274  1
2             2       167  0
3             3       686  1
4             4       157  0
..          ...       ... ..
513         513       204  0
514         514       806  1
515         515       290  0
516         516       473  1
517         517       142  0

[518 rows x 3 columns]

### Declare the dependent and independent variables

In [33]:
y = data['y']
x1 = data['duration']

### Simple Logistic Regression

Run the regression and visualize it on a scatter plot (no need to plot the line).

In [34]:
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()
def f(x,b0,b1):
    return np.array(np.exp(b0*x*b1) / (1+np.exp(b0*x*b1)))
f_sorted = np.sort(f(x1,results_log.params[0],results_log.params[1]))
x_sorted = np.sort(np.array(x1))
plt.scatter(x1,y,color='C0')
plt.xlabel('duration', fontsize=20)
plt.ylabel('y',fontsize=20)
plt.plot(x_sorted, f_sorted,color='C8')
plt.show()

NameError: name 'x' is not defined