In [1]:
from bs4 import BeautifulSoup as bs
import requests

In [17]:
import json
import re
from bs4 import BeautifulSoup
import lxml
import requests, string, nbconvert
%matplotlib inline
import pandas as pd

In [18]:
url = 'https://www.worlddata.info/africa/nigeria/inflation-rates.php'
response = requests.get(url)
# Getting the status code
response.status_code

200

In [19]:
# Instantiate the soup object
soup = BeautifulSoup(response.text, 'lxml')
# Get the table object
table = soup.find('table', class_ = 'std100 hover')
# Get the column header
col_head = [col.text.strip() for col in table.find_all('th')]
col_head

['Year', 'Nigeria', 'Ø EU', 'Ø USA', 'Ø World']

In [20]:
# Get the column header into a dataframe
df2 = pd.DataFrame(columns=col_head)
df2

Empty DataFrame
Columns: [Year, Nigeria, Ø EU, Ø USA, Ø World]
Index: []

In [22]:
# Get the row data
for row in table.find_all('tr')[1:]:
 datapoint = [td.text.strip() for td in row.find_all('td')]
 # Assign the table rows to the dataframe
 df2.loc[len(df2)] = datapoint
# Investigate the dataframe
df2

     Year  Nigeria    Ø EU   Ø USA Ø World
0    2021  16.95 %  2.55 %  4.70 %  3.48 %
1    2020  13.25 %  0.48 %  1.23 %  1.92 %
2    2019  11.40 %  1.63 %  1.81 %  2.19 %
3    2018  12.10 %  1.74 %  2.44 %  2.44 %
4    2017  16.52 %  1.43 %  2.13 %  2.19 %
..    ...      ...     ...     ...     ...
119  1964   0.86 %  3.42 %  1.28 %     n/a
120  1963  -2.69 %  2.92 %  1.24 %     n/a
121  1962   5.27 %  3.55 %  1.20 %     n/a
122  1961   6.28 %  2.08 %  1.07 %     n/a
123  1960   5.44 %  1.74 %  1.46 %     n/a

[124 rows x 5 columns]